<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/">jacobinis</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.menu %}
        <li class="nav-item{% if item.link == page.url %} active {% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}{{ item.link }}">{{
            item.title
            }}</a>
        </li>
        {% endfor %}
        
        <a class="visitor-counter d-flex align-items-center" href="https://hits.seeyoufarm.com">
          <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fjacobinis.github.io&count_bg=%233CB371&title_bg=%233CB371&icon=mariadb.svg&icon_color=%23FFFFFF&title=Welcome&edge_flat=false"/>
        </a>
      </ul>
    </div>
  </div>
</nav>